<a href="https://colab.research.google.com/github/ChinmayKumarT/dsa/blob/main/dic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = input("enter")

freq = {}
for i in a :
    if i in freq:
      freq[i]+=1
    else:
      freq[i] = 1
for key,value in freq.items():
  print(f"{key} appear for {value} times")

enterfggggdfg
f appear for 2 times
g appear for 5 times
d appear for 1 times

In [ ]:
sentence = "the sun rises in the east and sets in the west"

spit = sentence.split()
print(spit)
freq = {}
for i in spit :
    if i in freq:
      freq[i]+=1
    else:
      freq[i] = 1
for key,value in freq.items():
  print(f"{key} appear for {value} times")

['the', 'sun', 'rises', 'in', 'the', 'east', 'and', 'sets', 'in', 'the', 'west']
the appear for 3 times
sun appear for 1 times
rises appear for 1 times
in appear for 2 times
east appear for 1 times
and appear for 1 times
sets appear for 1 times
west appear for 1 times

In [ ]:
a = input("enter")
#b = a.split()

charec = 0
digit = 0
symbols = 0

for i in a :
  if i.isalpha() :
    charec += 1

  elif i.isdigit() :
    digit += 1

  else :
    symbols += 1

print(f"charector type count : ('letter' : {charec} , 'digit' : {digit} , 'symbol' : {symbols})")

enterdas!@#123
charector type count : ('letter' : 3 , 'digit' : 3 , 'symbol' : 3)
3
3
3

In [ ]:
a = input("enter")

d = {'letters': 0 , 'digits' : 0 , 'symbols' : 0}

for i in a :
  if i.isalpha() :
    d['letters'] += 1

  elif i.isdigit() :
    d['digits'] += 1

  else :
    d['symbols']+= 1

print("charector type count : " , d)

enterasf!@21
charector type count :  {'letters': 3, 'digits': 2, 'symbols': 2}

In [ ]:
logs = {
"Monday": {"Asha": 8, "Ravi": 6, "Leela": 9},
"Tuesday": {"Asha": 7, "Ravi": 7, "Leela": 8},
"Wednesday": {"Asha": 8, "Ravi": 5, "Leela": 9}
}

dict1 = logs["Monday"]
dict2 = logs["Tuesday"]
dict3 = logs["Wednesday"]

result = {}

for key in dict1:
    if key in dict2 and key in dict3:
        result[key] = dict1[key] + dict2[key] + dict3[key]


print("weakly hours per employee")
for key, value in result.items():
    print(f"{key}: {value} hours")


print("top performers")
for key, value in result.items():
    if value == max(result.values()):
        print(key, value ," hours")

print("less than 20 hours")
for key, value in result.items():
    if value <= 20:
        print(key,": Only ", value ," hours!")

weakly hours per employee
Asha: 23 hours
Ravi: 18 hours
Leela: 26 hours
top performers
Leela 26  hours
less than 20 hours
Ravi : only  18  hours!

In [ ]:
logs = {
"Monday": {"Asha": 8, "Ravi": 6, "Leela": 9},
"Tuesday": {"Asha": 7, "Ravi": 7, "Leela": 8},
"Wednesday": {"Asha": 8, "Ravi": 5, "Leela": 9}
}

total_hours = {}
for day_log in logs.values():
    for employee, hours in day_log.items():
      if employee not in total_hours:
        total_hours[employee] = 0
      total_hours[employee] += hours

print("weakly hours per employee")
for employee, hours in total_hours.items():
    print(f"    {employee}: {hours} hours")

max_hours = max(total_hours.values())
top_performers = [employee for employee, hours in total_hours.items() if hours == max_hours]
print("top performers")
for employee in top_performers:
    print(f"    {employee}: {max_hours} hours")

print("less than 20 hours")
for employee, hours in total_hours.items():
    if hours < 20:
      print(f"    {employee}: Only {hours} hours!")

weakly hours per employee
    Asha: 23 hours
    Ravi: 18 hours
    Leela: 26 hours
top performers
    Leela: 26 hours
less than 20 hours
    Ravi: Only 18 hours!

In [ ]:
stock = {
          "pen": 30,
          "notebook":5,
          "eraser": 2,
          "pencil": 0,
          "marker": 10
          }

thurshold = 5

updated_stock = {}
below_stock = {}


print(" item at or below")
for key, value in stock.items():
    if value <= thurshold:
        print(f" - {key}: {value} ")

print("Restock list:")
for key in stock.items():
    updated_stock[key[0]] = 20 - key[1]
print(updated_stock)

 item at or below
 - notebook: 5
 - eraser: 2
 - pencil: 0
Restock list:
{'pen': -10, 'notebook': 15, 'eraser': 18, 'pencil': 20, 'marker': 10}

In [ ]:

stock = {
          "pen": 30,
          "notebook":5,
          "eraser": 2,
          "pencil": 0,
          "marker": 10
          }

thurshold = 5

updated_stock = {}


print(" item at or below")
at_or_below = [key for key, value in stock.items() if value <= thurshold]
for key in at_or_below:
    print(f"    {key}: {value} ")


print("Restock list:")
for key in stock.items():
    updated_stock[key[0]] = 20 - key[1]
print(updated_stock)

 item at or below
    notebook: 10
    eraser: 10
    pencil: 10
Restock list:
{'pen': -10, 'notebook': 15, 'eraser': 18, 'pencil': 20, 'marker': 10}

two sum

In [ ]:
a = [1,3,2,4,5,7]
target = 9
freq = {}
j = 0
for i in a :
    c = target - i
    if c in freq:
        print(freq[c] , j)
    freq[i] = j
    j= j+1
print(c)

3 4
2 5
2

In [ ]:
ar = [32,41,36,32,33,34,42,36]

for i in range(len(arr)):

In [ ]:
temp = [32, 41, 36, 32, 33, 34, 42, 36]

for i in range(len(temp)):
    days = 0
    for j in range(i+1, len(temp)):
        days += 1
        if temp[j] > temp[i]:
            print(f"Day {i+1} → temperature increased after {days} days")
            break
    else:
        print(f"Day {i+1} → no future warmer day")

Day 1 → temperature increased after 1 days
Day 2 → temperature increased after 5 days
Day 3 → temperature increased after 4 days
Day 4 → temperature increased after 1 days
Day 5 → temperature increased after 1 days
Day 6 → temperature increased after 1 days
Day 7 → no future warmer day
Day 8 → no future warmer day