<a href="https://colab.research.google.com/github/ChinmayKumarT/dsa/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

identical elements

In [ ]:
a = tuple(map(int, input().split()))
b = tuple(map(int, input().split()))
res = []
for i in a :
  if i in b and i not in res:
    res.append(i)
result = tuple(res)
print(result)
print(type(result))

1 2 3 4 5 5
2 3 4 5 6 6 7
(2, 3, 4, 5)
<class 'tuple'>

sum by index

In [ ]:
a = tuple(map(int, input().split()))
b = tuple(map(int, input().split()))
sum = []
for i in range(len(a)) :
  if i in range(len(b)):
    c = a[i] + b[i]
    sum.append(c)
res = tuple(sum)
print(res)
print(type(res))

 11 2 2  33
22 3 4 55
(33, 5, 6, 88)
<class 'tuple'>

In [ ]:
x,y = map(int,input("enter the space seperated start value").split())
n  = int(input("enter the nnumber of elements"))
lists= []
for i in range(n):
  dx,dy = map(int, input().split())
  lists.append((dx,dy))
print(lists)
for dx,dy in lists:
  x += dx
  y += dy
print(x,y)

 a   b